<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 文章列表 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/styles/main.css" rel="stylesheet" type="text/css" />
<style>
.pagelist{line-height:14px;margin-top:20px;}
.pagelist a{padding:5px 8px;margin:0 2px;display:inline-block;border:1px solid #ccc;background:#fff;}
.pagelist a:hover{text-decoration:none;background:#eee;}
.pagelist span{padding:5px 8px;margin:0 2px;}
</style>
</head>
<body>

<h1>
<span class="action-span"><a href="{:U('Admin/Photo/albumadd')}">添加新相册</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 文章列表 </span>
<div style="clear:both"></div>
</h1>
<form method="post" action="" name="listForm" >

  <div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      编号  </th>

    <th>文章名称</th>
    <th>照片总数</th>
    <th>是否显示</th>
    <th>添加时间</th>
        <th>操作</th>
  <tr>
   <foreach name="list" item="v">
	    <tr>
	    <td>{$v.id}</td>
	
	    <td class="first-cell" style=""><span ><a href="{:U('Admin/Photo/photoadd')}?name={$v.name}">{$v.name}</a></span></td>
	    <td><span >{$v.number}</span></td>
	    <td align="center" style="cursor: pointer">{$v.is_show}</td>
	    <td align="center">{$v.add_time}</td>
	   
	        <td align="center">
	      <a style="cursor: pointer" class="ajax" ajaxid="{$v['id']}" title="回收站"><img src="__PUBLIC__/admin/images/icon_trash.gif" width="16" height="16" border="0" /></a>
          </td>
	  </tr>
   </foreach>
      </table>

<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    <div class="pagelist">{$page}</div> 
    </td>
  </tr>

</table>

</div>
</form>
<script src="__PUBLIC__/common/jquery.min.js"></script>
<script>
	$('.ajax').click(function(){
		var $this = $(this);
		var id = $(this).attr("ajaxid");
		//console.log(id);
		$.ajax({
			type:"get",
			url:'{:U("Admin/Photo/albumdel")}?id='+id,
			success:function(data){
				$this.parent().parent().remove();
			}
		});		
	});
</script>
<div id="footer">
共执行 7 个查询，用时 0.112141 秒，Gzip 已禁用，内存占用 3.085 MB<br />
版权所有 &copy; 2005-2010 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
</html>